html {
  box-sizing: border-box;
  line-height: 1.4;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  background: #fffff8;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.4;
}
body {
  margin: 0 1rem;
  padding: 0;
}
article {
  margin: 2rem auto 4rem;
}
h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem 0;
}
#meta {
  margin: -2rem 0 4rem;
}
#meta time {
  display: block;
}
h2 {
  font-size: 1rem;
  font-weight: bold;
  margin: 2.8rem 0 1.4rem;
}
img {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
  margin: 1.4rem auto;
  max-width: 100%;
  padding: 10px;
}
ol,
ul {
  margin: .75rem 0;
  padding: 0 0 0 1rem;
}
ol li,
ul li {
  margin: .75rem 0;
}
p {
  margin: .75rem 0;
}
pre {
  margin: .75rem 0;
  overflow-x: auto;
  width: 100%;
}
code,
pre {
  font: 16px/1.5 "SFMono-Regular", Consolas, Liberation Mono, Menlo, Courier, monospace;
}
a:link,
a:visited {
  border-bottom: 1px solid #000;
  color: #000;
  font-weight: bold;
  text-decoration: none;
}
a:visited {
  color: #666;
}

@media only screen and (min-width:768px) {
  body {
    margin: 0 auto;
    max-width: 40rem;
  }
  article {
    margin-top: 4rem;
  }
  h1 {
    margin-bottom: 4rem;
  }
  #meta {
    margin-top: -4rem;
  }
}
