<!DOCTYPE html>
<html lang="{% if page.lang %}{{ page.lang }}{% else %}en{% endif %}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/tufte.css">
    <title>{{ page.title }}{% if page.date %}, {{ page.date|downcase }}{% endif %}</title>
  </head>
  <body>
    <article>
      <h1>{{ page.title }}</h1>
      {% if page.date %}<p class="subtitle">{{ page.date }}</p>{% endif %}
      {{ content }}
    </article>
  </body>
</html>
